@import '../../helpers.scss';

.recipes-page {
  h1.title {
    text-align: center;
  }

  .search-recipes-form {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    input {
      background: $white;
    }
  }
  .recipes-container {
    .recipes-list {
      display: grid;
      justify-items: center;
      width: fit-content;
      margin: 0 auto;
      margin-top: 2rem;
      gap: 2rem;

      @media screen and (min-width: 725px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
