@import '../../helpers.scss';

.create-username-page {
  .form-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .available,
  .not-available {
    font-weight: 600;
    font-size: toRem(16);
  }
  .available {
    color: $success-green;
  }
  .not-available {
    color: $error-red;
  }
}
