@function toRem($value) {
  $remValue: $value / 16 + rem;
  @return $remValue;
}

$primary: #ff5722;
$secondary: #00adb5;

$primary-text: #303841;

$primary-background: #eeeeee;

// Navbar
$nav-height: toRem(80);

$border-radius: 5px;

$max-width: 1400px;

$font-family: 'Montserrat', sans-serif;
